.board {
    max-width: 36% !important;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    background-color: rgba(109, 127, 151, 0.5);
    padding:5px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) inset, 0 1px 0 #fff;
    color: #85796b;
}

.board div {
    height: 70px;
    width: 70px;
}

h3 {
 font-family: "Montserrat", sans-serif;
 text-transform: uppercase;
}

h1 {
 font-family: "Montserrat", sans-serif;
 text-transform: uppercase;
 margin-top: -10px;
}

.invisible {
    background-color: white;
}

body {
  background-image: url("images/candy-crush-lg-background.jpg");
  /* max-width: 100vh;
  display: flex; */
  background-repeat: no-repeat;
}

.score-board {
  background-color: pink;
  border-radius: 10px;
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(#FFB6C1, #FFC0CB);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) inset, 0 1px 0 #fff;
  color: #85796b;
}

@media screen and (max-width: 576px) {
    body {
        background-image: url("images/candy-crush-md-background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
    [draggable] {
        cursor: move;
    }
    .row {
        display: inline-block;
    }
    .score-board {
        margin-top: 20px;
        margin-left: auto !important;
        margin-right: auto !important;
        min-width: 125px;
        height: 75px;
    }
    .score-board h3 {
        font-size: 1.25em !important;
    }
    #score {
        font-size: 1.50em;
    }
    .board {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .board div {
        height: 40px;
        width: 40px;
        background-repeat: no-repeat;
        background-size: 45px;        
    }
}

@media screen and (max-width: 415px) {
    .board {
        max-width: 92vw !important;
    }
    .board div {
        height: 50px;
        width: 47px;
        background-size: 55px;
    }
}

@media screen and (max-width: 386px) {
    .board {
        max-width: 92vw;
    }
    .board div {
        height: 50px;
        width: 37px;
        background-size: 45px;
    }
}

@media screen and (max-width: 320px) {
    .board div {
        width: 32px;
        background-size: 36px;
    }
}