.grid {
    height: 560px;
    min-width: 560px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 80px;
    margin-top: 50px;
    background-color: rgba(109, 127, 151, 0.5);
    padding:5px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) inset, 0 1px 0 #fff;
    color: #85796b;
}

.grid div {
    height: 70px;
    width: 70px;
}

h3 {
 font-family: "Montserrat", sans-serif;
 text-transform: uppercase;
}

h1 {
 font-family: "Montserrat", sans-serif;
 text-transform: uppercase;
 margin-top: -10px;
}

.invisible {
    background-color: white;
}

body {
  background-image: url("images/candy-crush-lg-background.jpg");
  max-width: 100vh;
  display: flex;
}

.score-board {
  background-color: pink;
  border-radius: 10px;
  margin-top: 200px;
  margin-left: 200px;
  margin-bottom: 350px;
  min-width: 200px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(#FFB6C1, #FFC0CB);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) inset, 0 1px 0 #fff;
  color: #85796b;
}

@media screen and (max-width: 576px) {
    body {
        background-image: url("images/candy-crush-md-background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
    .score-board {
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        min-width: 125px;
        height: 75px;
    }
    .score-board h3 {
        margin-top: 10px;
    }
    .grid {
        position: absolute;
        top: 50px;
        height: 500px;
        max-width: 86vw;
        min-width: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .grid div {
        height: 40px;
        width: 40px;
        background-repeat: no-repeat;
        background-size: 45px;        
    }
}

@media screen and (max-width: 415px) {
    .grid {
        max-width: 92vw;
    }
    .grid div {
        height: 50px;
        width: 47px;
        background-size: 55px;
    }
}

@media screen and (max-width: 386px) {
    .grid {
        max-width: 92vw;
    }
    .grid div {
        height: 50px;
        width: 43px;
        background-size: 45px;
    }
}